{% load static %}

<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Liens rapides</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Billetterie</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Contact</h5>
                <address>
                    <strong>Comité d'organisation des JO 2024</strong><br>
                    123 Rue des Olympiades<br>
                    75000 Paris, France<br>
                    <abbr title="Phone">Tél :</abbr> +33 1 23 45 67 89
                </address>
            </div>

            <div class="col-md-4">
                <h5>Réseaux sociaux</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/Paris2024/">Facebook</a></li>
                    <li><a href="https://twitter.com/Paris2024">Twitter</a></li>
                    <li><a href="https://www.instagram.com/paris2024/?hl=en">Instagram</a></li>
                   
                </ul>
            </div>


        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script defer src="{% static 'js/script.js' %}"></script>
