<!-- modals.html -->


<div class="modal fade" id="eventModal1" tabindex="-1" role="dialog" aria-labelledby="eventModal1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal1Label">COURSES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>La section "Courses" aux Jeux Olympiques 2024, riche d'une histoire débutant en 1896, 
                    incarne l'apogée de la compétition athlétique. Cette discipline emblématique célèbre la vitesse et l'endurance à travers une variété d'épreuves,
                     du sprint éclair sur 100 mètres à la stratégie calculée de la course de relais 4x400 mètres. 
                     Les pistes olympiques sont le théâtre où les athlètes les plus rapides du monde repoussent les limites de la performance humaine,
                     créant des moments historiques et gravant leur nom dans l'épopée du sport mondial.</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal2" tabindex="-1" role="dialog" aria-labelledby="eventModal2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal2Label">Sauts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    La discipline des "Sauts" aux Jeux Olympiques 2024, 
                    forgée depuis la création des Jeux en 1896, 
                    incarne l'essence même de la performance athlétique.
                    Cette composante emblématique célèbre l'agilité, 
                    la technique et le courage des athlètes, 
                    élevant chaque saut au rang d'exploit mémorable. 
                    Des sauts en hauteur défiant la gravité aux performances gracieuses du saut à la perche, 
                    cette section offre une diversité d'épreuves captivantes. 
                    Chaque édition des Jeux témoigne de l'évolution constante de ces prouesses athlétiques, 
                    où les sauteurs repoussent sans cesse les frontières de l'excellence.</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal3" tabindex="-1" role="dialog" aria-labelledby="eventModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal3Label">Lancets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    La discipline des "Lancets" aux Jeux Olympiques 2024, ancrée dans l'histoire
                     depuis les débuts des Jeux en 1896, incarne la puissance brute et la précision athlétique.
                      Cette composante emblématique met en lumière la force et la technique des athlètes, offrant une série d'épreuves diversifiées, du lancer de poids à la précision du lancer de javelot. Chaque lancer devient une démonstration de compétence et de détermination, créant des moments inoubliables au cœur de la compétition. À chaque édition des Jeux,
                       les lancers évoluent, établissant de nouveaux records et repoussant les limites de l'excellence athlétique. </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal4" tabindex="-1" role="dialog" aria-labelledby="eventModal4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal4Label">Natation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Aux Jeux Olympiques 2024, la discipline de la "Natation" plonge les spectateurs dans une expérience captivante mêlant vitesse, technique et endurance. Les athlètes, repoussant les limites de la performance aquatique, rivaliseront dans une série d'épreuves variées, créant ainsi des moments inoubliables. Depuis les premiers Jeux en 1896, la natation a évolué pour devenir une vitrine d'excellence athlétique, promettant des performances exceptionnelles dans les piscines nouvellement conçues pour l'événement. Des épreuves telles que la "Natation artistique" ajoutent une dimension artistique à la compétition, où les athlètes réalisent des chorégraphies aquatiques captivantes. les lancers évoluent, établissant de nouveaux records et repoussant les limites de l'excellence athlétique.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal5" tabindex="-1" role="dialog" aria-labelledby="eventModal5Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal5Label">Natation Synchronisée</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    L'élégance et la synchronisation atteignent de nouveaux sommets dans la "Natation synchronisée". Cette discipline artistique fusionne la grâce des mouvements avec la précision chorégraphique, offrant un spectacle aquatique captivant.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal6" tabindex="-1" role="dialog" aria-labelledby="eventModal6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal6Label">Water-Polo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Le "Water-polo" promet un mélange électrisant d'action et de stratégie au cœur de l'eau. Les équipes s'affronteront dans un ballet aquatique intense, cherchant à marquer des buts tout en défendant leur propre cage.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal7" tabindex="-1" role="dialog" aria-labelledby="eventModal7Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal7Label">Gymnastique (artistique et rythmique)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    La "Gymnastique" se décline en deux facettes artistiques et rythmiques. L'artistique allie puissance et grâce dans des mouvements acrobatiques, tandis que la rythmique offre des performances synchronisées avec engins, captivant le public par leur créativité.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal8" tabindex="-1" role="dialog" aria-labelledby="eventModal8Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal8Label">Sports de combat (Judo, Boxe, Lutte) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Les "Sports de combat" apportent l'intensité et la stratégie aux Jeux. Le Judo, la Boxe et la Lutte mettront en avant la maîtrise technique, la puissance brute et la détermination des athlètes dans des duels palpitants.

                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal9" tabindex="-1" role="dialog" aria-labelledby="eventModal9Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModal9Label">Sports d'équipe (Football, Basketball, Volley-ball)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    La camaraderie et la compétition atteignent leur apogée dans les "Sports d'équipe". Le Football, le Basketball et le Volley-ball offrent des confrontations épiques où la stratégie d'équipe et l'exécution individuelle se combinent pour créer des moments mémorables sur le terrain.

                </p>
            </div>
        </div>
    </div>
</div>



